<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title></title>
  <style>
    div.container {
      display:inline-block;
    }

    p {
      text-align:center;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="{{ input_image }}" height="360" width="360" />
    <p>Input Image</p>
  </div>
 <div class="container">
    <img class="middle-img" src="{{ split_result }}" height="360" width="360" />
    <p>Split Result</p>
  </div>
  <div class="container">
    <img src="{{ full_result }}" height="360" width="360" />
    <p>Reference Result</p>
  </div>
</div>
</body>
</html>