<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title></title>
  <style>
    div.container {
      display:inline-block;
    }

    p {
      text-align:center;
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="{{ input_image }}" height="360" width="360" />
    <p>Input</p>
  </div>
 <div class="container">
    <img class="middle-img" src="{{ output_image }}" height="360" width="360" />
    <p>Output Timing: {{ output_time }}</p>
  </div>
  <div class="container">
    <img src="{{ reference_image }}" height="360" width="360" />
    <p>Reference Timing: {{ reference_time }}</p>
  </div>
</div>
</body>
</html>